* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    /* Controlar el comportamiento del scrol */
}

body {
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    /* Todo lo que se desborde se oculte o todo lo que salga. OVERFLOW = HIDDEN */
    margin: auto;
    padding: 60px 0;

}

header {
    height: 100vh;
    /* height 100vh es el 100% lo que ocupa la pantalla*/
    background-image: linear-gradient(to right, rgba(228, 175, 203, 0.409) 0%, rgba(184, 203, 184, 0.407) 0%, rgba(184, 203, 184, 0.407) 0%, rgba(226, 197, 139, 0.406) 30%, rgba(194, 206, 156, 0.406) 64%, rgba(126, 218, 220, 0.404) 100%), url(../img/woman.jpg);
    /* Aqui copie mi color desde la pagina webgradients el cual elegi en copycss */
    /* Aqui coloque el link de mi imagen que queria que fuera la principal con los colores que elegi URL(../img/woman.jpg) */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* Attachment: fixed la imagen va estar fija al contenedor y no se movera */
    background-position: center;

}

.head {
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.hamburguer {
    position: fixed;
    top: 30px;
    right: 30px;
    background: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);

}

.menu-navegacion {
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
    display: flex;
    flex-direction: column;
    /* flex-direction column para que este uno debajo del otro */
    justify-content: space-evenly;
    /* space-evenly para que reparta espacio equitactivamente, verticalmente */
    align-items: center;
    /* transition: transform .3s ease-in-out ; */
    /* transition transform .3 ease-in.out hace que cuando coloque el mouse por el header se mueva el menu a medida que muevo el mouse esos 3 segundos. El easi-in-out comienzo y final lento; mas rapido en medio */
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    /* box-shadow añade efectos de sombra alrededor del marco del elemento */

}

.spread {
    transform: translate(0);
    /* Cuando des clic al boton quiero que aparezca de nuevo */
}


.menu-navegacion {
    color: white;
    text-decoration: none;
}

.titulo {
    font-size: 60px;
    margin-bottom: 15px;
}

.copy {
    font-weight: 300;
    font-size: 25px;
}

/* Nuestra Historia (main) */

.subtitulo {
    text-align: center;
    font-weight: 300;
    color: #ae4bc9;
    margin-bottom: 40px;
    font-size: 40px;
}

.contenedor-historia {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-historia img {
    width: 40%;
}

.parque-historia {
    width: 45%;
}


.history {
    margin-bottom: 20px;
}

.n-history {
    margin-bottom: 7px;
    color: #ae4bc9;

}

.number {
    display: inline-block;
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}

.gallery {
    background: #f2f2f2;
}

.contenedor-galeria {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria {
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.imagen-light {
    position: fixed;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show {
    transform: translate(0);
}

.agregar-imagen {
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3 .2s;
}

.showImage {
    transform: scale(1);
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.benefit {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-benefit {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.cont-benefit img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.n-benefit {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}

/* Footer */

footer {
    background:#3cba92;
    padding-bottom: 0.1px;
    /*Si yo no coloco aqui el padding-bottom 0.1px queda un vacio abajo, esto se le llama colapso de margenes, pasa porque no hay nada que intervenga entre un margen y el otro y se colapsa. Por eso se coloca un padding-bottom pequeño de 0.1px o también se puede colocar border: 1px solid #000 que es negro*/
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact-us {
    width: 40%;
    color: white;
}

.brand {
    font-weight: 500;
    font-size: 40px;
}

.brand+p {
    font-weight: 500;
}

.social-media {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon {
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    color: white;
}

.social-media-icon:hover {
    background: white;
    color: #ae4bc9;
}

.social-media-icon i {
    font-size: 30px;
    line-height: 60px;
}

.line {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: white;
    margin-bottom: 60px;
}

@media screen and (max-width:800px){
    .menu-navegacion {
        width: 50vw;
    }

    .titulo {
        font-size: 40px;
    }

    .contenedor-historia img{
        width: 80%;
        margin-bottom: 40px;
    }
    .parque-historia{
        width: 80%;
    }

    .history{
        margin-bottom: 30px;
    }
    .agregar-imagen{
        width: 80%;
    }
    .img-galeria{
        width: 45%;
    }

    .cont-benefit{
        width: 80%;
    }

    .footer-content{
        justify-content: center;
    }
    
    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }
    .social-media i{
        margin-left: 0;

    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;

    }

}

@media screen and (max-width:500px){
    .menu-navegacion{
        width: 65vw;
    }

    .hamburguer{
        top: 10px;
        right: 10px;
    }

    .contenedor-historia img{
        width: 80%;
        margin-bottom: 40px;
    }

    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 30px;
    }
    

    .agregar-imagen{
        width: 95%;
    }

    .img-galeria{
        width: 95%;
    }
    .cont-benefit{
        width: 80%;
    }

    .social-media{
        width: 100%;
    }
    
    .contact-us{
        width: 100%;
    }

}